{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'lisg_calendar/calendar.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid py-3">
    <h1>안녕하세요! {{ user.name }}님</h1>
    <h1>멋쟁이 사자처럼 서강대입니다.</h1>
    <div>
        <h1>총 <a class="main-color" href="#">{{ absent }}</a>번 결석하셨습니다.</h1>
        <h1>총 <a class="main-color" href="#">{{ late }}</a>번 지각하셨습니다.</h1>
        <h1>총 <a class="main-color" href="#">n</a>개의 과제를 미제출하셨습니다.</h1>
    </div>
    <div class="mt-5">
        {{ info }}
        {{ calendar }}
    </div>
</div>
{% endblock %}