{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
{#<link rel="stylesheet" type="text/css" href="{% static 'assignment/prism.css' %}">#}
{% endblock %}

{% block content %}
<div class="container-fluid py-3">
    {% block msg %}

    {% endblock %}
    <h1>서강대학교 멋쟁이 사자처럼 과제 시스템</h1>
    <h1 class="main-color">{{ assignment.name }}</h1>
    <div class="d-flex">
        <span class="sub-color">{{ assignment.due_date }} 마감</span>
        {% if not timeup %}
        <a class="main-color ml-auto" href="{% url 'assignment-submit-total' pk=assignment.pk %}">제출하기</a>
{#        <a class="main-color ml-3" href="{% url 'assignment-submit' pk=assignment.pk %}">+ 코드/링크 제출하기</a>#}
{#        <a class="main-color ml-3" href="{% url 'assignment-submit-image' pk=assignment.pk %}">+ 이미지 제출하기</a>#}
        {% endif %}
    </div>
    <div>
        {% if assignment.materials %}
        <a class="btn btn-main" href="{{ assignment.materials.url }}" download="">자료 다운로드</a>
        {% endif %}
    </div>
    <hr>
    {% block assignment-block %}
    <div>
        <h1>제출 리스트</h1>
        {% for submit in submits %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-text sub-color">{{ submit.timestamp }}</h5>
                <a class="btn btn-main" data-toggle="collapse" href="#submit-{{ submit.pk }}" role="button" aria-expanded="false" aria-controls="submit-{{ submit.pk }}">보기</a>
                <a class="btn btn-main" href="{% url 'assignment-submit-update' pk=submit.pk %}">편집</a>
                <a class="btn btn-main" href="{% url 'assignment-submit-delete' pk=submit.pk %}">삭제</a>
                <div class="collapse py-3" id="submit-{{ submit.pk }}">
                    <div class="card card-body">
                        <h3>실행 이미지</h3>
                        <img class="col-6 p-0" src="{{ submit.image.url }}">
                        <h3>링크</h3>
                        <a href="{{ submit.link }}" target="_blank">{{ submit.link }}</a>
                        <h3>설명</h3>
                        <div>{{ submit.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if timeup or submits.count > 0 or user.is_staff %}
    <hr>
    <div>
        <h1>다른 아기사자들의 과제</h1>
        {% for submit in other_submits %}
        <div class="card card-body my-3">
            <h1>{{ submit.author.name }}님의 과제</h1>
            <h3>실행 이미지</h3>
            {% if submit.image %}
            <img class="col-6 p-0" src="{{ submit.image.url }}">
            {% endif %}
            <h3>링크</h3>
            <a href="{{ submit.link }}" target="_blank">{{ submit.link }}</a>
            <h3>설명</h3>
            <div>{{ submit.description }}</div>
            <hr>
            <h1>댓글</h1>
            <div class="comments">
                {% for comment in submit.get_comments %}
                <div class="my-3">
                    <h5>{{ comment.content }}</h5>
                    <div class="sub-color">{{ comment.timestamp|date:'Y-m-d H:i' }}</div>
                    {% if comment.author == user %}
                    <span><a href="#" onclick="return delete_comment(this);" data-pk="{{ comment.pk }}">삭제</a></span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <hr>
            <div>
                <form method="POST" onsubmit="return create_comment(this);">
                    {% csrf_token %}
                    {{ submit.get_comment_form }}
                    <input class="btn btn-main mt-3" type="submit" value="댓글달기">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
</div>
{#<script src="{% static 'assignment/prism.js' %}"></script>#}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static 'assignment/js/ajax-plugin.js' %}"></script>
<script>
function create_comment(event) {
    let dict_array = $(event).serializeArray();
    var csrfmiddlewaretoken = '';
    var content = '';
    var submit = 0;
    dict_array.forEach(function(entry) {
        if (entry.name === 'csrfmiddlewaretoken')
            csrfmiddlewaretoken = entry.value;
        else if (entry.name === 'content')
            content = entry.value;
        else if (entry.name === 'submit')
            submit = entry.value;
    });
    if (csrfmiddlewaretoken === '' || content === '' || submit === 0) {
        alert("페이지 에러! 새로고침 해주세요.");
        return false;
    }
    $.ajax({
        type: "POST",
        url: "{% url 'assginment-comment' %}",
        data: {
            csrfmiddlewaretoken: csrfmiddlewaretoken,
            content: content,
            submit: submit,
        },
        success: function(response) {
            parent = event.parentElement.parentElement;
            comment_div = $(parent).find(".comments")[0];
            if (response.result == true) {
                $(comment_div).append("<div><h5>" + response.content  + "</h5><div class='sub-color'>" + response.timestamp + "</div></div>");
                $(".comment-content").val('');
            } else
                alert('에러! 잠시 후 다시 시도해주세요.');
        },
     });

    return false;

}

function delete_comment(event) {
    if (confirm('삭제하시겠습니까?')) {
        let pk = event.dataset['pk'];
        $.ajax({
            url: "{% url 'assignment-comment-delete' %}",
            data: {
                pk: pk
            },
            success: function (response) {
                if (response.result === true) {
                    event.parentElement.parentElement.remove();
                } else
                    alert("삭제할 수 없습니다.")
            }
        })
    }
    return false;
}
</script>
{% endblock %}