{% extends 'assignment/detail.html' %}
{% load static %}

{% block extrastyle %}
{% endblock %}

{% block msg %}
{% if msg is not None %}
    <div class="{% if msg.0 == True %}bg-success{% else %}bg-danger{% endif %} text-center p-2 text-white">
        <span class="">{{ msg.1 }}</span>
    </div>
    {% endif %}
{% endblock %}

{% block assignment-block %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group col-8">
            <h3>실행 이미지</h3>
            <input type="file" class="form-control" name="{{ form.image.html_name }}" id="{{ form.image.id_for_label }}" required>
        </div>
        <div class="form-group col-8">
            <h3>링크</h3>
            <input type="url" class="form-control" name="{{ form.link.html_name }}" id="{{ form.link.id_for_label }}" required>
        </div>
        <div class="form-group col-8">
            <input type="submit" class="btn btn-main">
        </div>
    </form>
{% endblock %}

