{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property='og:image' content="{% static 'index/assets/bg-image-3.jpg' %}">
  <meta name="description" content="서강대학교 멋쟁이 사자처럼 공식 웹사이트입니다.">
  <meta name="keywords" content="서강대학교, 멋쟁이 사자처럼, 멋사, Sogang University, Likelion">
  <meta name="author" content="Tronze, 2019">
  <title>서강대학교  |  멋쟁이 사자처럼</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'base/logo.png' %}">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="logo"><a href="index.html" aria-label="멋쟁이 사자처럼 서강대" lang="en"></a></h1>
      {% if user.is_authenticated %}
      <p class="para" aria-hidden="true">안녕하세요 {{ user.name }}님, <span><a href="{% url 'profile' %}">마이페이지</a></span></p>
      {% else %}
      <p class="para" aria-hidden="true">서강 멋사 <span><a href="{% url 'login' %}">로그인</a></span></p>
      {% endif %}
    </div>
  </header>
  <section class="landing">
    <div class="container">
      <div class="wrapper">
        <h2 class="landing-title">
          <span class="landing-tag">2019년 멋사 7기—</span>
            <span class=" sub-color">함께 해서<br>즐거운 사람들,</span><br><span class="main-color">멋쟁이 사자처럼<br>—서강대</span>
        </h2>
        <p class="landing-content">개발을 좋아하는 사람들이 모였습니다.</br>1년 동안 함께 <span>닥코</span>하실 분들을 찾습니다.</p>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <div class="wrapper">
        <header class="about-header">
          <p class="about-category" lang="en">WHAT WE DO</p>
          <h2 class="about-title highlight-green main-color text-bold"><span>내 아이디어를</span><br><span>내 손으로 실현하다!</span></h2>
          <p class="about-content">컴퓨터를 전혀 모르는 학생들이 코딩교육을 통해 원하는 IT서비스를 직접 런칭합니다.내가 만들고 싶은 IT 서비스를 직접 배워서 직접 만드는 대학생 모임입니다.</p>
        </header>
        <section class="about-items">
          <h2 class="readable-hidden">서강대학교 멋쟁이 사자처럼 활동</h2>
          <ul class="about-list">
            <li>
              <h4 class="highlight-purple">스터디</h4>
              <p>일단 프로그래밍을 배워야죠. 아무것도 몰라도 괜찮아요. 다들 처음이고, 같이 고민하고, 노하우를 나누고, 함께 성장할 거에요. </p>
            </li>
            <li>
              <h4 class="highlight-purple">아이디어톤</h4>
              <p>내가 꿈꿔왔던 아이디어를 사람들과 공유해요. 아이디어를 실제로 구현할 멋진 팀원을 모아요. </p>
            </li>
            <li>
              <h4 class="highlight-purple">해커톤</h4>
              <p>다함께 모여 서비스를 완성해요. 밤새 코딩하고, 서비스를 런칭하고, 모두에게 결과물을 보여줘요.</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="wrapper">
        <header class="team-header">
          <p class="team-category" lang="en">TEAM</p>
          <h2 class="team-title highlight-green main-color text-bold"><span>서강대 멋쟁이 사자처럼</span><br><span>멤버들 두둥!</span></h2>
          <p class="team-content sub-color">2019년 서강대학교 멋쟁이 사자처럼을 이끌어갈 운영진을 소개합니다.</p>
        </header>
      </div>
    </div>
    <div class="team-members">
      <div class="team-wrapper">
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-jane.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">이재인</h4>
            <p class="team-major">미문 17</p>
          </div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-tronze.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">김지웅</h4>
            <p class="team-major">컴공 16</p>
          </div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-daun.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">연다은</h4>
            <p class="team-major">커뮤 17</p>
          </div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-jisu.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">백지수</h4>
            <p class="team-major">커뮤 15</p>
          </div>
          </div>
        </div>
        </article>
      </div>
      <div class="team-wrapper">
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-yura.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">신유라</h4>
            <p class="team-major">경영 15</p>
          </div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-junhee.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">이준희</h4>
            <p class="team-major">경영 14</p>
          </div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-yunjin.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">정윤진</h4>
            <p class="team-major">사학 17</p>
            <div>
          </div>
        </div>
        </article>
        <article class="team-member">
        <div class="team-member-wrapper">
          <div class="team-img-container">
            <img class="team-img" src="{% static 'index/assets/member-sunmi.jpeg' %}" alt>
          </div>
          <div class="team-member-content">
            <div class="team-member-content-wrapper">
            <h4 class="border-bottom">조선미</h4>
            <p class="team-major">커뮤 15</p>
            <div>
          </div>
        </div>
        </article>
      </div>
    </div>
  </section>
  <section class="plan">
    <div class="container">
      <div class="wrapper">
        <header class="plan-header">
          <p class="plan-category" lang="en">SCHEDULE</p>
          <h2 class="plan-title highlight-green main-color text-bold"><span>2019년 멋사 일정을</span><br><span>소개합니다.</span></h2>
          <p class="plan-content">서강대학교 멋쟁이 사자처럼은 매주 월,목 저녁 7시부터 9시까지 교육 세션을 진행할 예정입니다. 중간고사를 기준으로 개발 공부와 실제 적용을 해보는 것으로 1학기 일정이 계획되어 있습니다. 구체적인 사항은 아래를 참고해주세요.</p>
        </header>
        <div class="plan-items">
          <article class="plan-item">
            <h4 class="highlight-purple">중간고사 이전</h4>
            <p class="content">웹은 어떻게 돌아가는 건지, 뭘 가지고 만드는지에 대해 공부합니다. 전체적인 웹의 아키텍쳐와 함께 Django 프레임워크를 활용한 웹 프로그래밍 개론을 다양한 실습과 함께 배워나갑니다.</p>
          </article>
          <article class="plan-item">
            <h4 class="highlight-purple">중간고사 이후</h4>
            <p class="content">기본적인 개념 정립을 마치고, 본격적으로 실제 웹서비스를 만들 때 필요한 기능을 하나씩 구현해봅니다. 또한 깃헙, 자바스크립트, API 등등을 익혀볼거예요.</p>
          </article>
          <article class="plan-item">
            <h4 class="highlight-purple">복커톤</h4>
            <p class="content">중간고사 직후, 새하얗게 포맷된 머리를 복구합니다. 중간고사 이전까지 배웠던 내용을 토대로 복습하는 해커톤을 진행해요. 하루동안 날 잡고 바닥부터 스스로 간단한 게시판 사이트를 만들어봐요.</p>
          </article>
          <article class="plan-item">
            <h4 class="highlight-purple">아이디어톤</h4>
            <p class="content">꿈꿔왔던 서비스 아이디어를 공유해요. 서로 의견을 나누며 아이디어를 다듬고, 팀원을 모집하는 기간이에요. 좋은 평가를 받은 상위 팀들은 발표 기회도 있어요!</p>
          </article>
          <article class="plan-item">
            <h4 class="highlight-purple">지역 연합 해커톤</h4>
            <p class="content">2-3개 대학교와 연합하여 해커톤을 진행합니다. 처음보는 멋사인들과 팀을 이루어 아이디어를 공유하고, 서비스를 기획합니다. 밤새 코딩을 하면서 전국 멋사인들과 함께 아이디어가 실제 서비스로 구현되는 뿌듯함을 함께 나눠봐요!</p>
          </article>
          <article class="plan-item">
            <h4 class="highlight-purple">해커톤</h4>
            <p class="content">여름방학 기간 중에 전국의 사자들이 모여 에너지를 불태우며 웹 서비스를 만듭니다. 작년에는 화정체육관에서, 제작년에는 잠실학생체육관에서 무박 2일동안 진행 했어요! 한 학기동안 열심히 쌓은 실력을 해커톤에 쏟아봐요! 멋사 해커톤의 열기를 느껴보고 싶다면, 아래 링크로!</p>
            <a href="https://www.facebook.com/pg/likelion.net/photos/?tab=album&album_id=2017616008263185&__xts__%5B0%5D=68.ARBm-6-lG7joT2R5kOLpAPy6I_VD3M78ycZlV4Ko8CWPJ0-Qwh0bKhxwosfN8DSmUrequukpxenqycJj-ht8-QKyL9kkrXN-2hl8s1mTVgKcImbVRsG_fw7-_eNx0N0B79svOtIdE41gcDGhIFhXnRw2oUYDmxEzA_zvYl9aK5EzP1fQ9ZomhJfu2_6PbtylSgh8uQXA2DiHwCMoYmGxvI_nbK6pOEG1ieMVi2sfDK0ULGm91aB7bVjpkDK9-fRhkfOCLVqriNEByEbH6lvRaD2EI05YrkS7ykR-Ouv6TIpejF1xIzKCu0c7-Z6zE4ODqJyHz4aoRInSRqAiLlxZjDLJOip-OD-Z7_ocfC3WHN4AS7fL1oEU_jpj1HNSMXAB-KfrlEwDUBToUIoGRVmAWVHr4TaMRv8aOGRuhvNO9RlTHvfg6d9-_0bFIw8-G-AGZLvFu7GuDvR611lSPP3T&__tn__=-UC-R" class="sub-color" target="_blank">작년 사진이 궁금한가요?</a>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="apply">
    <div class="container">
      <div class="wrapper">
        <header class="apply-header">
          <p class="apply-category" lang="en">APPLY</p>
          <h2 class="apply-title text-bold">무엇을<br>고민하시나요?</h2>
          <p class="plan-content">서강대학교 멋쟁이 사자처럼 지원하실 분들은 이곳으로!</p>
          <a href="https://apply.likelion.org" class="btn-hover">멋쟁이 사자처럼 지원하기</a>
        </header>
      </div>
    </div>
  </section>
  <script src="{% static 'index/js/app.js' %}"></script>
</body>
</html>
