
h1 {
    font-weight: 700;
}

.footer {
    padding-bottom: 1.75rem;
}

.bg-main {
    background-color: #B11016;
    color: #FFFFFF !important;
}

.btn-main {
    background-color: #B11016;
    color: #FFFFFF !important;
}

.bg-pic {
    background: url(/static/index/assets/bg-image-3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main-color {
    color: #B11016;
}

a.main-color:hover {
    color: #B2B6B9;
}

.sub-color {
    color: #B2B6B9;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}
